<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siweisoft.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.siweisoft.model.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_num" jdbcType="VARCHAR" property="projectNum" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="project_code" jdbcType="VARCHAR" property="projectCode" />
    <result column="deadline_type" jdbcType="INTEGER" property="deadlineType" />
    <result column="commissioning_date" jdbcType="TIMESTAMP" property="commissioningDate" />
    <result column="debug_date" jdbcType="TIMESTAMP" property="debugDate" />
    <result column="acceptance_date" jdbcType="TIMESTAMP" property="acceptanceDate" />
    <result column="contact_id" jdbcType="INTEGER" property="contactId" />
    <result column="debug_name" jdbcType="VARCHAR" property="debugName" />
    <result column="project_status" jdbcType="INTEGER" property="projectStatus" />
    <result column="inform_num" jdbcType="VARCHAR" property="informNum" />
    <result column="process_id" jdbcType="INTEGER" property="processId" />
    <result column="configure_id" jdbcType="INTEGER" property="configureId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_num, project_name, customer_id, project_code, deadline_type, commissioning_date, 
    debug_date, acceptance_date, contact_id, debug_name, project_status, inform_num, 
    process_id, configure_id
  </sql>
<!---->
  <select id="findAllProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from project
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.siweisoft.model.Project">
    insert into project (id, project_num, project_name, 
      customer_id, project_code, deadline_type, 
      commissioning_date, debug_date, acceptance_date, 
      contact_id, debug_name, project_status, 
      inform_num, process_id, configure_id
      )
    values (#{id,jdbcType=INTEGER}, #{projectNum,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=INTEGER}, #{projectCode,jdbcType=VARCHAR}, #{deadlineType,jdbcType=INTEGER}, 
      #{commissioningDate,jdbcType=TIMESTAMP}, #{debugDate,jdbcType=TIMESTAMP}, #{acceptanceDate,jdbcType=TIMESTAMP}, 
      #{contactId,jdbcType=INTEGER}, #{debugName,jdbcType=VARCHAR}, #{projectStatus,jdbcType=INTEGER}, 
      #{informNum,jdbcType=VARCHAR}, #{processId,jdbcType=INTEGER}, #{configureId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.siweisoft.model.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectNum != null">
        project_num,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="projectCode != null">
        project_code,
      </if>
      <if test="deadlineType != null">
        deadline_type,
      </if>
      <if test="commissioningDate != null">
        commissioning_date,
      </if>
      <if test="debugDate != null">
        debug_date,
      </if>
      <if test="acceptanceDate != null">
        acceptance_date,
      </if>
      <if test="contactId != null">
        contact_id,
      </if>
      <if test="debugName != null">
        debug_name,
      </if>
      <if test="projectStatus != null">
        project_status,
      </if>
      <if test="informNum != null">
        inform_num,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="configureId != null">
        configure_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectNum != null">
        #{projectNum,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="deadlineType != null">
        #{deadlineType,jdbcType=INTEGER},
      </if>
      <if test="commissioningDate != null">
        #{commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="debugDate != null">
        #{debugDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptanceDate != null">
        #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contactId != null">
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="debugName != null">
        #{debugName,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="informNum != null">
        #{informNum,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="configureId != null">
        #{configureId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siweisoft.model.Project">
    update project
    <set>
      <if test="projectNum != null">
        project_num = #{projectNum,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="projectCode != null">
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="deadlineType != null">
        deadline_type = #{deadlineType,jdbcType=INTEGER},
      </if>
      <if test="commissioningDate != null">
        commissioning_date = #{commissioningDate,jdbcType=TIMESTAMP},
      </if>
      <if test="debugDate != null">
        debug_date = #{debugDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptanceDate != null">
        acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contactId != null">
        contact_id = #{contactId,jdbcType=INTEGER},
      </if>
      <if test="debugName != null">
        debug_name = #{debugName,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        project_status = #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="informNum != null">
        inform_num = #{informNum,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="configureId != null">
        configure_id = #{configureId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siweisoft.model.Project">
    update project
    set project_num = #{projectNum,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      project_code = #{projectCode,jdbcType=VARCHAR},
      deadline_type = #{deadlineType,jdbcType=INTEGER},
      commissioning_date = #{commissioningDate,jdbcType=TIMESTAMP},
      debug_date = #{debugDate,jdbcType=TIMESTAMP},
      acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
      contact_id = #{contactId,jdbcType=INTEGER},
      debug_name = #{debugName,jdbcType=VARCHAR},
      project_status = #{projectStatus,jdbcType=INTEGER},
      inform_num = #{informNum,jdbcType=VARCHAR},
      process_id = #{processId,jdbcType=INTEGER},
      configure_id = #{configureId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>